<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('includes/header/head.ejs') %>
</head>
<body>
    <%- include('includes/header/header.ejs') %>

    <%- include('includes/elements/banner.ejs') %>

    <main>
        <%- include('includes/elements/historia.ejs') %>

        <%- include('includes/elements/localizacao.ejs') %>        
    </main>

    <%- include('includes/elements/cta.ejs') %>

    <%- include('includes/footer/footer.ejs') %>

    <%- include('includes/footer/scripts.ejs') %>
</body>
</html>